@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.container {
    padding: 50px;
    background: #191919;

    h2 {
        grid-column: 1/-1;
        text-align: center;
        color: #c0c0c0;
        font-size: 80px;
        font-family: 'Bangers', cursive;

        span{
            display: inline-block;
            transform: rotate(-8deg);
        }
    }
}