@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.container {
    padding: 50px;
    background: #191919;

    h2 {
        grid-column: 1/-1;
        text-align: center;
        color: #fff;
        font-size: 80px;
        font-family: 'Bangers', cursive;
        padding-top: 40px;

        span{
            display: inline-block;
            transform: rotate(-8deg);
        }
    }

    @media (max-width: 550px) { 
        padding: 0;

        h2 {
            font-size: 50px;

            span{
                transform: rotate(0deg);
            }
        }
    }

}