
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

* {
box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #191919;
} 

.header {
  min-height: 100vh;
  opacity: .9;
  width: 100%;
  filter: grayscale(100%);
  filter: hue-rotate(260deg);
  position: relative;
  background-size: cover;

  @media (max-width: 650px) { 
    background-size: cover;

  }
}

.overlay {
  background: rgba(19, 19, 19, .5);
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0px;
  width: 150%;
  max-width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .inner-content {
    display: flex;
    flex-direction: column;
    width: 700px;
    position: relative;
    text-align: center;
    border: 1px solid #fff;
    padding: 50px;
    background: rgba(19, 19, 19, .4);
    box-shadow: 0px 3px 6px rgba(19, 19, 19, .2);

    h1 {
      color: #fff;
      font-size: 75px;
      line-height: 70px;
    }

    h4 {
      color: #fff;
      padding: 10px;
      font-size: 20px;
      font-weight: 400;
    }

    @media (max-width: 850px) { 
      width: 90%;
      padding: 80px 20px;

      h1 {
        font-size: 50px;
        line-height: 50px;
      }

      .buttons {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 8px;

        button {
          padding: 20px;
        }
      }
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0;
    right: 0;
    gap: 20px;
    margin-top: 30px;
    background: #33b77e;
    width: 100%;
    bottom: -80px;
    padding: 20px;
    border: 1px solid #fff;

    button {
      background: #fff;
      width: 100%;
      padding: 30px;
      grid-column: span 1;
      color: #191919;
      font-size: 18px;
      border: none;
      outline: none;
      box-shadow: 0px 3px 6px rgba(19, 19, 19, .2);

      &:nth-of-type(2) {
        background: #191919;
        color: #fff;
      }
    }
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(19,19,19,.3), rgba(145,152,229,.8));
    bottom: 30px;
    left: 100px;
    transform: rotate(155deg);
    transform-origin: 50% 100% ;
    z-index: 300;
    mix-blend-mode: saturation;
  }

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(19,19,19,.3), rgba(145,152,229,.8));
    bottom: 30px;
    right: 100px;
    transform: rotate(-155deg);
    transform-origin: 50% 100% ;
    z-index: 300;
    mix-blend-mode: saturation;
  }

  img {
    width: 25%;
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
  }
}

a {
  color: #fff;
  text-decoration: none;
}
